html,
body {
  height: 100%;
  background: #fdebf6;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.1rem 1.3rem;
}

.logo {
  display: inline-flex;
  align-items: center;
  line-height: 0;
}

.logo-svg {
  width: 78px;
  height: auto;
  display: block;
}

.nav {
  position: relative;
  z-index: 1000;
}

/* Burger */
.burger {
  width: 30px;
  display: flex;
  flex-direction: column;
  gap: 7px;

  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;

  z-index: 1001;
}

.burger span {
  height: 2px;
  width: 100%;
  background: #111;
  display: block;
}

/* Menu (mobil lukket) */
.menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu a {
  font-size: 0.95rem;
  font-weight: 700;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

/* Menu (mobil åben) */
.nav.open .menu {
  display: flex;
  position: absolute;
  right: 0;
  top: calc(100% + 10px);

  flex-direction: column;
  align-items: flex-end;
  gap: 12px;

  background: #fff;
  padding: 14px 16px;
  border: 1px solid rgba(0, 0, 0, 0.35);

  z-index: 1002;
}

.site-footer {
  background: #f2f2f2;
  padding: 6rem 0;
  margin-top: 6rem;
}

.footer-inner {
  width: min(1100px, 92vw);
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  align-items: start;
}

.site-footer h4 {
  margin: 0 0 0.6rem;
  font-size: 0.95rem;
  font-weight: 800;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-align: center;
}

.site-footer p {
  margin: 0.15rem 0;
  font-weight: 500;
  text-align: center;
}

.site-footer a {
  display: block;
  margin: 0.15rem 0;
  font-weight: 500;
  text-align: center;
}

.site-footer a:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer-col--center {
  text-align: center;
}

.footer-col--right {
  text-align: right;
}

@media (min-width: 1024px) {
  .logo-svg {
    width: 100px;
  }

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    background: transparent;
    padding: 2rem 2.5rem;
  }

  .burger {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 18px;
  }
}

@media (max-width: 800px) {
  .site-footer {
    padding: 4rem 0;
  }

  .footer-inner {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: left;
  }

  .footer-col--center,
  .footer-col--right {
    text-align: left;
  }
}
